AutomaticALM/SolutionPackage/src/Workflows/99-Helper-GetValidationEnvironment-9B00F5FB-E745-EE11-BE6E-000D3ABA3DAD.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "impersonation": {},
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "dyna_sharedcommondataserviceforapps_c708f"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "manual": {
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "description": "Please enter your input",
                  "title": "ALMDeploymentId",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                }
              },
              "required": [
                "text"
              ]
            }
          }
        }
      },
      "actions": {
        "Respond_to_a_Power_App_or_flow": {
          "runAfter": {
            "For_each": [
              "Succeeded"
            ]
          },
          "type": "Response",
          "kind": "PowerApp",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "urlvalidation": {
                  "title": "URLValidation",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                }
              },
              "additionalProperties": {}
            },
            "statusCode": 200,
            "body": {
              "urlvalidation": "@variables('URL')"
            }
          }
        },
        "Initialize_URL": {
          "runAfter": {},
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "URL",
                "type": "string"
              }
            ]
          }
        },
        "Get_Deployment": {
          "runAfter": {
            "Initialize_URL": [
              "Succeeded"
            ]
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "dyna_almdeployments",
              "recordId": "@triggerBody()?['text']"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Get_Deployment_Step_for_Validation": {
          "runAfter": {
            "Get_Deployment": [
              "Succeeded"
            ]
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "cat_deploymentsteps",
              "$filter": "cat_name eq 'Validation' and _cat_deploymentprofileid_value eq @{body('Get_Deployment')?['_dyna_almdeploymentprofile_value']}"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "For_each": {
          "foreach": "@outputs('Get_Deployment_Step_for_Validation')?['body/value']",
          "actions": {
            "Get_Deployment_Environment": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "cat_deploymentenvironments",
                  "recordId": "@item()?['_cat_deploymentenvironmentid_value']"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "GetItem"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Set_URL": {
              "runAfter": {
                "Get_Deployment_Environment": [
                  "Succeeded"
                ]
              },
              "type": "SetVariable",
              "inputs": {
                "name": "URL",
                "value": "@body('Get_Deployment_Environment')?['cat_url']"
              }
            }
          },
          "runAfter": {
            "Get_Deployment_Step_for_Validation": [
              "Succeeded"
            ]
          },
          "type": "Foreach"
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}