AutomaticALM/SolutionPackage/src/Workflows/99-Helper-GetTestEnvironment-736EE3EC-F945-EE11-BE6E-000D3ABA3DAD.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "api": {
          "name": "shared_commondataserviceforapps"
        },
        "connection": {
          "connectionReferenceLogicalName": "dyna_sharedcommondataserviceforapps_c708f"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "manual": {
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "description": "Please enter your input",
                  "title": "ALMDeploymentId",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                }
              },
              "required": [
                "text"
              ]
            }
          },
          "metadata": {
            "operationMetadataId": "0cbc29d7-dff6-43c6-a7b0-3f6115ddb8f3"
          }
        }
      },
      "actions": {
        "Initialize_URL": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "URL",
                "type": "string"
              }
            ]
          },
          "runAfter": {}
        },
        "Get_Deployment": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "dyna_almdeployments",
              "recordId": "@triggerBody()?['text']"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "GetItem",
              "connectionName": "shared_commondataserviceforapps"
            }
          },
          "runAfter": {
            "Initialize_URL": [
              "SUCCEEDED"
            ]
          }
        },
        "Get_Deployment_Step_for_Test": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "cat_deploymentsteps",
              "$filter": "cat_name eq 'Test' and _cat_deploymentprofileid_value eq @{body('Get_Deployment')?['_dyna_almdeploymentprofile_value']}"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "connectionName": "shared_commondataserviceforapps"
            }
          },
          "runAfter": {
            "Get_Deployment": [
              "SUCCEEDED"
            ]
          }
        },
        "For_each": {
          "type": "foreach",
          "foreach": "@outputs('Get_Deployment_Step_for_Test')?['body/value']",
          "actions": {
            "Get_Deployment_Environment": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "cat_deploymentenvironments",
                  "recordId": "@item()?['_cat_deploymentenvironmentid_value']"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "GetItem",
                  "connectionName": "shared_commondataserviceforapps"
                }
              }
            },
            "Set_URL": {
              "type": "SetVariable",
              "inputs": {
                "name": "URL",
                "value": "@body('Get_Deployment_Environment')?['cat_url']"
              },
              "runAfter": {
                "Get_Deployment_Environment": [
                  "SUCCEEDED"
                ]
              }
            }
          },
          "runAfter": {
            "Get_Deployment_Step_for_Test": [
              "SUCCEEDED"
            ]
          }
        },
        "Respond_to_a_Power_App_or_flow": {
          "type": "Response",
          "kind": "PowerApp",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "urltest": {
                  "title": "URLTest",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                }
              },
              "additionalProperties": {}
            },
            "statusCode": 200,
            "body": {
              "urltest": "@variables('URL')"
            }
          },
          "runAfter": {
            "For_each": [
              "SUCCEEDED"
            ]
          }
        }
      },
      "description": "Retrieve the URL of Test Environment dynamically"
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}